<%# <h1><%= link_to @song.title, song_path(@song)</h1>  %>
<h1><%= @song.title %></h1>
<%# <% if @song.artist.present? %>
<%# <p><%= link_to @song.artist.name, artist_path(@song.artist) %></p>
<p><%= display_artist @song %></p>
<%# <% end %>
<%# <p><a href="/songs/<%= @song.id/edit">Add Artist</a></p>  %>
<%= link_to "All Songs", songs_path %>
